@charset "UTF-8";

@import url('/resources/css/root.css');

.main-container {
	width: 100%;
	padding: 1em;
	min-width: 320px;
	margin: 5px 0;
	background-color: var(--white-color);
}

/* 이벤트 슬라이더 */
section.main-slider .autoSwiper, .event-wrapper{
	height:280px;
}

.event-wrapper{
	position:relative;
	width:100%;
	height:100%;
	margin: auto;
}

.event-content-wrapper{
	position:absolute;
	left: 0;
	padding-left: 5px;
}

.event-content{
	transform: translate(50%, 50%);
	z-index: 2;
}

.event-image{
	position:absolute;
	right:0;
	width:60%;
	height:100%;
	background-repeat: no-repeat;
	background-size: 100%;
}

.event-image-01{
	background-image: url("/resources/images/event/event01.png");
	background-position: center;
}

.event-image-02{
	background-image: url("/resources/images/event/event02.gif");
	background-position: center;
}

.event-image-03{
	background-image: url("/resources/images/event/event03.gif");
	background-position: center;
}

.event-image-04{
	background-image: url("/resources/images/event/event04.gif");
	background-position: center;
}

/* 검색 */
.main-search-wrapper {
	margin: auto;
	max-width: 580px;
	width: 80%;
	height: 40px;
}

.main-search-wrapper form {
	width: 100%;
	display: flex;
	height: 100%;
}

/* 강의 슬라이더 */

section.courses-slider .courseSwiper, .course-wrapper{
	height: 400px;
}

.course{
	width: 100%;
	height: 95%;
	margin: auto;
}

.course-img img{
	width: 100%;
	height: 60%;
	object-fit:cover;
}

.course-content{
	padding-top: 0.5em;
	width: 100%;
	height: 40%;
}

/* 인기 블로그 */
.blog-wrapper {
	width: 100%;
	text-align: left;
}

.blog-image{
	height: 250px;
	background-color: var(--main-color);
	text-align: center;
	line-height: 250px;
}

/* 수강평 */
section.review .review-content{
	height: 300px;
}

section.review .reviewSwiper , .review-wrapper{
	height: 300px;
}

section.review .swiper-slide{
	height: 50%;
}

section.review .content-left , .content-right{
	height: 300px;
}



section.review .content-left{
	height: 60%;
	margin: auto;
	padding-left: 2rem; 
}

/* 서비스 신청 */
section.another-service .service-wrapper{
	height: max-content;
}

section.another-service .service-wrapper .wrapper{
	background-color: var(--white-color);
	height: 300px;
} 

section.another-service .main-service{
	position:relative;
	height: 70%;
	margin:auto;
}

section.another-service .main-service .main-service-button{
	position: absolute;
	bottom: -3rem;	
}

section.courses-slider .courseSwiper .checked {
    color : orange;
}